* {
    font-family: Arial, Helvetica, sans-serif;
}

li, a {
    text-decoration: none;
    color: #000;
}

table .general {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #000;
}