* {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;

}

li{
    text-decoration: none;
    color: #000;
}

a {
    text-decoration: none;
}

a:visited {
    color: #0000ff;
}

.general table td {
    border-collapse: collapse;
    border: 1px solid #000;
}
.results table, th, td {
    border: 1px solid;
  }

  caption {
    color: gray;
    font-style: italic;
    font-size: 12.5px;
  }

  .index-notes {
    background-color: antiquewhite;
  }